<h4>
  <a href="Presseinformation - STORforskel.pdf">Download presse info</a>
  <br/>
  <a href="preasentation.pdf">Præsentation</a>
  <br/>
  Telofon: 22 71 99 48
  <br/>
  <a href="mailto:morten@storforskel.nu">email: morten@storforskel.nu</mail_to>
  
  
</h4>