<h4>
  <a href="http://synthmax.dk/storforskel/presseinformation.pdf">Download presse info</a>
  <br/>
  <a href="http://synthmax.dk/storforskel/preasentation.pdf">Præsentation</a>
  <br/>
  Telofon: 22 71 99 48
  <br/>
  <a href="mailto:morten@storforskel.nu">email: morten@storforskel.nu</mail_to>
  
  
</h4>