.super-size {
  p{
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
    color: inherit;
  }
  h1 {
    margin-bottom: 0;
    font-size: 80px;
    line-height: 1;
    color: inherit;
    letter-spacing: -1px;
  }
  
}

